<!DOCTYPE html>
<html>

<head>
   <title>{{title}}</title>
   <link href="/font-awesome/fonts/fontawesome-webfont.ttf">
   <link href="/font-awesome/fonts/fontawesome-webfont.woff">
   <link href="/font-awesome/fonts/fontawesome-webfont.woff2">
   <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
   <link rel='stylesheet' href='/materialize/css/materialize.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
   {{{body}}}
</body>

</html>