<!DOCTYPE html>
<html>

<head>
   <title>{{title}}</title>
   <link href="/common/font-awesome/fonts/fontawesome-webfont.ttf">
   <link href="/common/font-awesome/fonts/fontawesome-webfont.woff">
   <link href="/common/font-awesome/fonts/fontawesome-webfont.woff2">
   <link rel="stylesheet" href="/common/font-awesome/css/font-awesome.min.css">
   <link rel='stylesheet' href='/common/materialize/css/materialize.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
   {{{body}}}
</body>

</html>