<!DOCTYPE html>
<html style="background: #01579b;">

<head>
   <title>{{title}}</title>
   <link rel="stylesheet" href="/fonts/fontawesome-webfont.ttf">
   <link rel="stylesheet" href="/fonts/fontawesome-webfont.woff">
   <link rel="stylesheet" href="/fonts/fontawesome-webfont.woff2">
   <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
   <link rel='stylesheet' href='/stylesheets/materialize.min.css'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel='stylesheet' href='/stylesheets/c3.min.css' />	 
</head>

<body>
   {{{body}}}
</body>

</html>